# Python
__pycache__/
*.py[cod]

# Ambiente virtual
venv/
.venv/

# Banco SQLite local
*.sqlite3

# Variáveis de ambiente
.env
frontend/.env

# VS Code
.vscode/

# PyCharm
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Node / React
node_modules/
dist/
build/

# Logs
*.log
npm-debug.log*
